FRONTEND_URL=APP_URL=

DATABASE_URL="

DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=
DEEPSEEK_MODEL=

GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

ENCRYPTION_KEY=
JWT_SECRET=
CRON_SECRET_KEY=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=